<!DOCTYPE html>
<html>
	<head>
		<title>{% page.title %} | {% site.title %}</title>
		<meta name="description" content="{% site.description %}">
		<link rel="stylesheet" type="text/css" href="/stylesheets/screen.css">
	</head>
    <body>
		<header>
			<h1><a href='/'>{% site.title %}</a></h1>
			<nav>
				<ul>
					<li><a href='/bio.html'>Bio</a></li>
					<li><a href='/journalism.html'>Journalism</a></li>
					<li><a href='/technical-writing.html'>Technical Writing</a></li>
					<li><a href='/contact.html'>Contact</a></li>
				</ul>
			</nav>
		</header>
		<main>{% content %}</main>
		<footer>&copy; 2014 Rachel Keranen</footer>
    </body>
</html>